* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'exljbris - Museo Cyrl 900';
  src: url(./exljbris+-+Museo+Cyrl+900.woff) format('woff'),
    url(./exljbris+-+Museo+Cyrl+900.woff2) format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Site header */
section {
  width: 100%;
  padding-top: 59px;
  padding-bottom: 71px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%; /* Правка */
  max-width: 1135px;
}

.header {
  background-color: #F1F1F1;
  padding: 19px 0 23px;
  color: #202020;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
}

.nav ul {
  list-style-type: none;
  display: flex;
  min-width: 530px;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  display: contents;
}

.login {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}

/* Main section */
.book-details__img {
  height: 646px;
  width: 461px;
  margin-right: 120px;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 90px 0;
}

/* Author and title */
.book-details__author {
  font-size: 24px;
}

.book-details__title {
  font-size: 54px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'exljbris - Museo Cyrl 900', serif;
}

.book-details__subtitle {
  max-width: 371px;
  font-size: 24px;
  display: flex;
  flex-direction: wrap;
}

/*  Info about book */

.book-details-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.book-details-tags__tag {
  font-size: 16px;
  flex-basis: 41%;
  margin: 6px 0;
}

.book-details-shop {
  display: flex;
  align-items: center;
}

.book-details-shop__price {
  font-size: 55px;
  margin-right: 60px;
}

.book-details-shop__favourite {
  display: flex;
  align-items: center;
  border: none;
  background-color: url;
  cursor: pointer;
  margin-left: 30px;
  font-size: 16px;
  order: center;
  background-color: transparent;
}

.book-details-shop__favourite img {
  margin-right: 7px;
}

/* Кнопки */
.book-details-links .link:first-child {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #202020;
}

.link--button {
  display: inline-block;
  padding: 20px 69px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.link--button-filled {
  border: 2px solid #F89C02;
  background-color: #F89C02;
  color: white;
}

.link--button-outline {
  border: 2px solid #F89C02;
  background-color: transparent;
  color: #F89C02;
}

.about-book {
  background-color: #F1F1F1;
  padding: 93px auto 95px;
  width: 100%;
}

/* About book */

.about-book-info {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  flex-shrink: 0;
  font-size: 16px;
}

.section-title {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
}

.book-info__text {
  margin-bottom: 30px;
}

/* Author */

.about-book-about-author {
  display: flex;
  flex-wrap: wrap;
  max-width: 552px;
  background-color: #fff;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  padding: 68px 58px 81px 54px;
  align-items: center;
  /* min-height: 347px; */
}

.about-author__photo {
  width: 100px;
  height: 100px;
  margin-right: 21px;
}

.about-author-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 217px;
  align-items: center;
}

.about-author-info__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-author__author-info {
  margin-top: 24px;
}

/* Readers */

.readers {
  padding-top: 79px;
}

.readers_container {
  display: flex;
  flex-wrap: wrap;
}

.readers-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.readers-photos__avatar {
  margin-bottom: 30px;
  width: 165px;
  height: 165px;
  object-fit: cover;
}



