* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'exljbris - Museo Cyrl 900';
  src: url(./exljbris+-+Museo+Cyrl+900.woff) format('woff'),
    url(./exljbris+-+Museo+Cyrl+900.woff2) format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020
}

/* Site header */
section {
  width: 100%;
  padding-top: 59px;
  padding-bottom: 71px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%; /* Правка */
  max-width: 1175px;
  padding: 0 20px;
}

.header {
  background-color: #F1F1F1;
  padding: 19px 0 23px;
  color: #202020;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
}

.nav ul {
  list-style-type: none;
  display: flex;
  min-width: 530px;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  display: contents;
}

.login {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}

/* Main section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-details {
  margin-top: 59px;
}

.book-details-book-img {
  height: 646px;
  width: 461px;
  margin-right: 120px;
  position: relative;
  min-width: 461px;
}

.book-img__book {
  height: 100%;
  width: 100%;
}

.book-img__sail {
  font-size: 18px;
  padding: 10px 16px;
  position: absolute;
  background-color: #C93535;
  color: #fff;
  font-weight: 500;
  right: 0;
  top: 23px;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 90px 0;
}

/* Author and title */
.book-details__author {
  font-size: 24px;
}

.book-details__title {
  font-size: 54px;
  font-weight: bold;
  margin: 24px 0;
  font-family: 'exljbris - Museo Cyrl 900', serif;
}

.book-details__subtitle {
  max-width: 371px;
  font-size: 24px;
  display: flex;
  flex-direction: wrap;
}

/*  Info about book */

.book-details-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.book-details-tags__tag {
  font-size: 16px;
  flex-basis: 41%;
  margin: 6px 0;
}

.tag__format {
  flex-grow: 1;
}

.tag__age {
  flex-grow: 1;
}

.book-details-shop {
  display: flex;
  align-items: center;
}

.book-details-shop__price {
  font-size: 55px;
  margin-right: 60px;
}

.book-details-shop__favourite {
  display: flex;
  align-items: center;
  border: none;
  background-color: url;
  cursor: pointer;
  font-size: 16px;
  order: center;
  background-color: transparent;
}

.book-details-shop__favourite img {
  margin-right: 7px;
}

/* Кнопки */
.book-details-links .link:first-child {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
}

.link--button {
  display: inline-block;
  padding: 20px 69px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.link--button-filled {
  border: 2px solid #F89C02;
  background-color: #F89C02;
  color: white;
}

.link--button-outline {
  border: 2px solid #F89C02;
  background-color: transparent;
  color: #F89C02;
}

.about-book-container {
  display: flex;
  align-items: flex-start;
}

.about-book {
  background-color: #F1F1F1;
  padding: 93px auto 95px;
  width: 100%;
}

/* About book */

.about-book-info {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  flex-shrink: 0;
  font-size: 16px;
}

.section-title {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
}

.book-info__text {
  margin-bottom: 30px;
}

/* Author */
.about-author-container {
  display: flex;
  align-items: center;
}
.about-book-about-author {
  display: flex;
  flex-wrap: wrap;
  max-width: 552px;
  background-color: #fff;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  padding: 68px 58px 81px 54px;
  align-items: center;
  /* min-height: 347px; */
}

.about-author__photo {
  width: 100px;
  height: 100px;
  margin-right: 21px;
}

.about-author-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 217px;
  align-items: center;
}

.about-author-info__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-author__author-info {
  margin-top: 24px;
}

/* Readers */

.readers {
  padding-top: 79px;
  padding-bottom: 90px;
}

.readers_container {
  display: flex;
  flex-wrap: wrap;
}

.readers-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.readers-photos__avatar {
  margin-top: 25px;
  width: 165px;
  height: 165px;
  object-fit: cover;
}

/* Footer */

.site-footer {
  background-color: #f1f1f1;
  padding-top: 55px;
  padding-bottom: 78px;
  width: 100%;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}

.site-footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 79px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 935px;
  width: 100%;
}

.button__up {
  display: block;
  border: 1px solid #EEEEEE;
  position: fixed;
  bottom: 3vh;
  right: 113px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 4px;
  background-color: #fff;
  padding: 16px 20px;
}

@media (max-width: 1200px) {
  .button__up {
    display: none;
  }
  .container {
    max-width: 1000px;
  }
  .book-details-book-img {
    margin-right: 30px;
    max-width: 390px;
    max-height: 548px;
    min-width: 390px;
  }
  .book-img__sail {
    display: none;
  }
  .book-details-info {
    margin: 40px 0;
  }
  .about-book-info {
    max-width: 390px;
  }
  .readers-photos__avatar {
    width: 138px;
    height: 138px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 801px;
  }
  .nav ul {
    display: none;
  }
  .book-details-book-img {
    min-width: 300px;
    max-width: 300px;
    max-height: 419px;
  }
  .book-img__sail {
    display: none;
  }
 .book-details-info {
   margin: 14px 0;
  }
  .book-details__author {
    font-size: 22px;
  }
  .book-details__title {
    font-size: 46px;
    margin: 14px 0;
  }
  .link--button {
    max-width: 200px;
    max-height: 48px;
    font-size: 14px;
    padding: 14px 40px 17px 43px;
  }
  .section-title {
    font-size: 24px;
  }

  .about-book-container {
    flex-wrap: wrap;
  }
  .about-book-info {
    width: 100%;
    margin-bottom: 33px;
    max-width: unset;
  }
  .readers-photos__avatar {
    width: 165px;
    height: 165px;
  }

  .readers-photos__avatar:nth-child(5),
  .readers-photos__avatar:nth-child(6),
  .readers-photos__avatar:nth-child(11),
  .readers-photos__avatar:nth-child(12) {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 591px;
    padding: 0 15px;
  }
  .book-details {
    margin-top: 40px;
  }
  .book-details-book-img {
    max-width: 562px;
    max-height: 788px;
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 54px;
  }
  .book-details .container {
    flex-direction: column;
  }
  .book-details-info {
    min-height: 386px;
  }
  .readers-photos__avatar:nth-child(4),
  .readers-photos__avatar:nth-child(10) {
    display: none;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .contacts {
    margin-top: 52px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 541px;
    padding: 0 30px;
  }
  .book-details-book-img {
    max-width: 479px;
    max-height: 671px;
  }
  .book-details-info {
    min-height: 569px;
  }
  .book-details__author {
    font-size: 18px;
  }
  .book-details__title {
    font-size: 36px;
  }
  .book-details__subtitle{
    font-size: 20px;
  }
  .book-details-tags {
    flex-direction: column;
  }
  .book-details-tags__tag {
    display: block;
    margin-bottom: 16px;
  }
  .book-details-links {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .link--button {
    padding: 28px 0 30px 0;
    max-height: 77px;
    max-width: 481px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .link--button-filled {
    margin-bottom: 20px;
  }
  .book-details-shop__price {
    margin-right: 24px;
  }
  .book-details-shop__favourite span {
    display: none;
  }
  .about-book-about-author {
    padding: 54px 44px;
  }
  .about-author__photo {
    width: 65px;
    height: 65px;
  }
  .about-author-info__site {
    font-size: 14px;
  }
  .about-author__author-info {
    font-size: 14px;
    margin-top: 21px;
  }
  .about-author-info__site span {
    display: none;
  }
  .about-author__photo {
    margin-right: 16px;
  }
  /* .readers-photos__avatar { */
    /* max-width: 143px;
    max-height: 143px;
    width: 100%;
    height: 100%; */
/* 
    width: 100%;
    max-width: 30%;
    height: unset; */
  .footer-container {
    flex-direction: column;
  }
  .footer-container div{
    margin-top: 0;
    margin-bottom: 29px;
  }
}

@media (max-width: 430px) {
  .about-book-about-author {
    padding: 32px 22px;
  }
  .about-author__photo {
    margin-right: 12px;
  }
  .about-author__author-info {
    margin-top: 21px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 27px;
  }
  .book-details {
    padding-top: 50px;
    margin-top: 60px;
  }
  .book-details-book-img {
    max-width: 263px;
    max-height: 370px;
    min-width: unset;
    margin-bottom: 39px;
  }
  .book-img__book {
    max-width: 263px;
    max-height: 370px;
  }
  .book-details__author {
    font-size: 16px;
  }
  .book-details__title {
    font-size: 24px;
  }
  .book-details__subtitle {
    font-size: 18px;
  }
  .book-details-tags__tag {
    margin: unset;
    margin-bottom: 15px;
  }
  .link--button {
    padding: 19px 64px 22px 65px;
  }
  .readers-photos__avatar {
    height: 123px;
    width: 123px;
    margin-top: 15px;
  }
  .readers {
    padding-top: 54px;
    padding-bottom: 61px;
  }
  .readers-photos__avatar:nth-child(8),
  .readers-photos__avatar:nth-child(9) {
    display: none;
  }
 }

