h2, h4 {
  color:blue;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
}