* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 5px 10px;
}

.card {
  width: 300px;
  height: 462px;
  border: #e8e8e8 1px solid;
  text-align: center;
  padding: 60px 49px 49px 50px;
}

.card__title {
  font-size: 12px;
}

.card__price {
  display: block;
  font-size: 14px;
  color: #5ba2a9;
  margin-top: 50px;
}

.card__price span {
  font-size: 36px;
}

.card-services {
  font-size: 12px;
  color: #454545;
  margin-top: 50px;
  list-style: none;
}

.card-services li:not(:first-child) {
  margin-top: 20px;
}

.card__button {
  padding: 21px 30px;
  border: #e8e8e8 2px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  color: #454545;
  margin-top: 50px;
  cursor: pointer;
}