* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-family: Tahoma;

}

/* Site header */

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1135px;
}

.header {
  background-color: #F1F1F1;
  padding: 21px 0;
  color: #202020;
  width: 100%;
  margin-bottom: 62px;
}

.nav {
  width: 530px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  display: flex;
  min-width: 530px;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  display: contents;
}

.login {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}

/* Main section */

.hero__img {
  height: 646px;
  width: 461px;
  margin-right: 120px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  margin: 90px 0;
}

/* Author and title */
.main {
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.name {
  font-size: 24px;
}

.title {
  font-size: 54px;
  font-weight: bold;
  margin: 10px 0;
}

.subtitle {
  max-width: 330px;
  font-size: 24px;
  display: flex;
  flex-direction: wrap;
}

/*  Info about book */

.info {
  display: flex;
  flex-wrap: wrap;
}

.info__text {
  font-size: 16px;
  flex-basis: 41%;
  margin: 6px 0;
}

.hero-shop {
    display: flex;
    align-items: center;
}

.shop__price {
  font-size: 55px;
  margin-right: 60px;
}

.shop__like {
  border: none;
  background-color: url;
  cursor: pointer;
  margin-left: 30px;
}

.shop__add {
  font-size: 16px;
  order:center;
}

/* Кнопки */

.buttons__read {
  text-decoration: none;
  border: 2px solid #F89C02;
  background-color: #F89C02;
  padding: 20px 69px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
  color: white;
  display: inline-block;
}

.buttons__buy {
  text-decoration: none;
  border: 2px solid #F89C02;
  background-color: transparent;
  padding: 20px 69px;
  border-radius: 5px;
  color: #F89C02;
  display: inline-block;
}
