* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;

}

.header {
  background-color: #F1F1F1;
  padding: 21px 0;
  color: #202020;
  width: 1367px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 116px;
}

.logo {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}

.login {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
}




