.navbar {
  background-color: #ffffff;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    &__menu-button {
      display: none;
    }
  }
  &__search {
    margin-right: auto;
    margin-left: 108px;
  }
  &__menu-button{
    display: none;
  }
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
  &__input {
    width: 350px;
    height: 100%;
    padding-left: 23px;
    padding-right: 75px;
    background-color: #f5fafe;
    border: none;
    font-size: 12px;
    line-height: 15;
    color: $text-color;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 100%;
    border: none;
    background-color: $primary;
  }
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    margin-left: 18px;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
  }
}

.navbar-bottom {
  background-color: $dark; 
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 31px 0;
  margin: 0;
  &__link {
    text-decoration: none;
    color: $light;
    font-size: 14px;
    text-transform: uppercase;
  }
}